body {
  margin: 0;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(254, 127, 182);
  background: radial-gradient(
    circle,
    rgba(254, 127, 182, 0.9290091036414566) 0%,
    rgba(4, 108, 230, 0.9990371148459384) 100%
  ); */
  background: linear-gradient(123deg, #ffffff 0%, #00b2ff 100%),
    linear-gradient(236deg, #baff99 0%, #005e64 100%),
    linear-gradient(180deg, #ffffff 0%, #002a5a 100%),
    linear-gradient(
      225deg,
      #ff1c1ce8 20%,
      rgba(255, 0, 0, 0.692) 25%,
      white 45%,
      rgba(129, 19, 255, 0.61) 30%,
      #ffffff 70%,
      #1f042048 85%,
      #ffffff 85%,
      #ffffff 10%
    ),
    linear-gradient(
      135deg,
      #ffffff 50%,
      #9e5b5b 35%,
      #fffcfe 30%,
      #ffffff 6%,
      #ffe3e3 60%,
      #f06767c0 68%,
      #f35454 48%,
      #ffffff 100%
    );
  background-blend-mode: overlay, overlay, overlay, darken, normal;
  background-attachment: fixed;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-masonry-grid {
  display: flex;
  margin-left: 1%; /* gutter size offset */
  margin-right: 2.5%; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  /* change div to reference elements in <Masonry> */
  margin-bottom: 20px;
}
